.popup__submit {
  background-color: black;
  color: white;
  border: none;
  border-radius: 2px;
  box-shadow: none;
  width: 100%;
  min-height: 50px;
  padding: 0;
  margin: 0;
}

.popup__submit:hover {
  transition: .2s ease;
  opacity: .8;
  cursor: pointer;
}

@media screen and (max-width: 650px) {
  .popup__submit {
    min-height: 46px;
  }
}
